.wrapper {
  background-color: rgba(241, 231, 256, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  mat-card {
    padding: 0;
    margin: 3rem 0 2rem;

    mat-card-header {
      padding: 16px 0 0 16px;
      color: white;
      background-color: rgb(97, 63, 176);
    }

    mat-card-content {
      padding: 16px;

      .input-row {
        display: flex;
        flex-wrap: wrap;

        mat-form-field {
          flex-grow: 1;
        }
      }
    }

    .search-button {
      text-align: right;
    }
  }

  .result {
    table {
      border-spacing: 0 5px;

      tr {
        th, td {
          padding: 0.2rem 1.5rem;
        }

        td {
          font-size: smaller;
        }
      }

      tr:first-child {
        text-align: left;
        background-color: rgba(170, 170, 170, 1);
        color: white;
      }

      tr:not(:first-child) {
        background-color: rgb(255, 255, 255);
      }

      tr:not(:first-child):hover {
        cursor: pointer;
        background-color: rgb(241, 231, 256);
      }
    }

    .nav-buttons {
      margin: 1rem 0;
      text-align: center;

      button {
        font-weight: normal;
      }
    }
  }
}

mat-form-field {
  margin: 0 0.5rem;
}
mat-progress-bar {
  position: fixed;
  z-index: 2;
}
