<mat-form-field>
  <textarea #nameField matInput [(ngModel)] = "nameInput" placeholder="Name"></textarea>
</mat-form-field>
<br>
<mat-form-field>
  <textarea #lastNameField matInput [(ngModel)] = "lastNameInput" placeholder="Last Name"></textarea>
</mat-form-field>
<br>
<mat-form-field>
  <textarea #fathersField matInput [(ngModel)] = "fathersNameInput" placeholder="Father's Name"></textarea>
</mat-form-field>
<br>
<mat-form-field>
  <mat-select #townField [(ngModel)] = "townInput" placeholder="Origin">
    <mat-option *ngFor="let val of townList" [value]="val">{{val}}</mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field>
  <input #arrivalField matInput type = "number" [ngModel] = "arrivalInput > 0 ? arrivalInput : ''" (ngModelChange)="arrivalInput = $event" placeholder="Arrival Year">
</mat-form-field>
<mat-form-field>
  <mat-select #precisionField [(ngModel)] = "precisionInput" placeholder="Precision">
    <mat-option value = "0">Exact</mat-option>
    <mat-option value = "1">+/- 1 year</mat-option>
    <mat-option value = "2">+/- 2 years</mat-option>
    <mat-option value = "5">+/- 5 years</mat-option>
  </mat-select>
</mat-form-field>
<br>
<div *ngFor ="let relative of relativeInput; let i = index; trackBy: trackByFn">
  <ng-container *ngTemplateOutlet="relativeName; context: {id: i}">

  </ng-container>

</div>
<a mat-button (click)="addRelative()">Add Relative</a>
<br>
<a mat-button (click)="fireSearch()">Search</a>
<br>
<div *ngIf = "this.countRes >= 0">
  <p>Count found: {{this.countRes}}</p>
</div>
<table>
  <tr *ngIf ="results.length > 0">
    <td>Name</td>
    <td>Last Name</td>
    <td>Town</td>
    <td>Father's Name</td>
  </tr>
  <tr *ngFor="let result of results" (click)="resultClicked(result.iri)">
    <td>{{getString(result.names)}}</td>
    <td>{{getString(result.lastNames)}}</td>
    <td>{{getString(result.towns)}}</td>
    <td>{{getString(result.fathersNames)}}</td>
  </tr>
</table>
<a mat-button (click) = "changePage(-1)">Previous</a>
<a mat-button (click) = "changePage(1)">Next</a>
<ng-template #relativeName let-id="id">
  <mat-form-field>
    <textarea matInput [(ngModel)] = "relativeInput[id]" placeholder="Relative name"></textarea>
  </mat-form-field>
  <a mat-button #removeRelativeButton (click) = "removeRelative(id)">Remove Relative</a>
</ng-template>
