<div class="wrapper">
  <mat-progress-bar mode="indeterminate" *ngIf="showProgbar"></mat-progress-bar>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Simple Search</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="input-row">
        <mat-form-field>
          <input #nameField matInput [(ngModel)]="nameInput" placeholder="Name">
        </mat-form-field>

        <mat-form-field>
          <input #lastNameField matInput [(ngModel)]="lastNameInput" placeholder="Last Name">
        </mat-form-field>
      </div>

      <div class="input-row">
        <mat-form-field>
          <input #fathersField matInput [(ngModel)]="fathersNameInput" placeholder="Father's Name">
        </mat-form-field>

        <mat-form-field>
          <mat-select #townField [(ngModel)]="townInput" placeholder="Origin">
            <mat-option *ngFor="let val of townList" [value]="val">{{val}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="input-row">
        <mat-form-field>
          <input #arrivalField matInput type="number" [ngModel]="arrivalInput > 0 ? arrivalInput : ''"
                 (ngModelChange)="arrivalInput = $event" placeholder="Arrival Year">
        </mat-form-field>

        <mat-form-field>
          <mat-select #precisionField [(ngModel)]="precisionInput" placeholder="Precision">
            <mat-option value="0">Exact</mat-option>
            <mat-option value="1">+/- 1 year</mat-option>
            <mat-option value="2">+/- 2 years</mat-option>
            <mat-option value="5">+/- 5 years</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngFor="let relative of relativeInput; let i = index; trackBy: trackByFn">
        <ng-container *ngTemplateOutlet="relativeName; context: {id: i}"></ng-container>
      </div>

      <button mat-button (click)="addRelative()">
        <mat-icon>add</mat-icon>
        Add Relative
      </button>

      <div class="search-button">
        <button mat-raised-button color="primary" (click)="fireSearch()">Search</button>
      </div>

    </mat-card-content>

  </mat-card>

  <div class="result" *ngIf="results.length > 0">

<!--    <div *ngIf="countRes !== undefined">-->
<!--      <p>Count returned: {{countRes}}</p>-->
<!--    </div>-->

    <table>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Father's Name</th>
        <th>Origin</th>
      </tr>
      <tr *ngFor="let result of results; let i = index;" (click)="resultClicked(result.iri)">
        <td>{{i + 1}}</td>
        <td>{{getString(result.names)}}</td>
        <td>{{getString(result.lastNames)}}</td>
        <td>{{getString(result.fathersNames)}}</td>
        <td>{{getString(result.towns)}}</td>
      </tr>
    </table>

    <div class="nav-buttons">
      <mat-paginator *ngIf="countRes > 25" [length]="countRes"
                     [pageIndex]="resultPage"
                     [pageSize]="25"
                     [pageSizeOptions]="[25]"
                     (page)="pageChanged($event)" showFirstLastButtons>
      </mat-paginator>
    </div>

  </div>
</div>

<ng-template #relativeName let-id="id">
  <mat-form-field>
    <input matInput [(ngModel)]="relativeInput[id]" placeholder="Relative name">
  </mat-form-field>

  <button mat-button mat-icon-button #removeRelativeButton (click)="removeRelative(id)">
    <mat-icon>close</mat-icon>
  </button>
</ng-template>
