<div class="wrapper">
  <mat-progress-bar mode="indeterminate" *ngIf="showProgbar"></mat-progress-bar>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Search</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedResourceType"
                    placeholder="Resource type" required>
          <mat-option value="PhysicalCopy">Physical Copy</mat-option>
          <mat-option value="CoverLetter">Cover Letter</mat-option>
          <mat-option value="Person">Person</mat-option>
          <mat-option value="Photograph">Photograph</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-slide-toggle (change)="onlyCount = !onlyCount;" color="primary">Return only count
      </mat-slide-toggle>

      <div *ngFor="let no of arr">
        <div style="display: inline-block">
          <mat-form-field>
            <mat-select #propfield [value]="propertiesChosen[no]" placeholder="Property {{no}}"
                        (selectionChange)="changeProp(no, propfield.value); logEverything(); createFormQuery()">
              <mat-option *ngFor="let property of getProps()" [value]="property">{{property.prop}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-select #operatorfield [value]="operatorsChosen[no]"
                      (selectionChange)="operatorsChosen[no] = operatorfield.value; valuesChosen[no] = ''; createFormQuery()">
            <mat-option value="exists">Exists</mat-option>
            <mat-option value="equals">Equals</mat-option>
          </mat-select>
        </mat-form-field>

        <div style="display: inline-block" *ngIf="operatorsChosen[no] === 'equals'">
          <div style="display: inline-block" [ngSwitch]="propertiesChosen[no].type">

            <mat-form-field *ngSwitchCase="'TextValue'">
            <textarea #valuefield matInput [value]="valuesChosen[no]" placeholder="Value {{no}}"
                      (keyup)="valuesChosen[no] = valuefield.value; createFormQuery()"></textarea>
              <!-- valuesChosen[] is of type valueType, which is fulfilled by string, so no type issues here. -->
            </mat-form-field>

            <mat-form-field *ngSwitchCase="'BooleanValue'">
              <mat-select #valuefield [value]="valuesChosen[no]" placeholder="Value {{no}}"
                          (selectionChange)="valuesChosen[no] = valuefield.value; createFormQuery()">
                <mat-option [value]="true">True</mat-option>
                <mat-option [value]="false">False</mat-option>
              </mat-select>
            </mat-form-field>

            <div *ngSwitchCase="'DateValue'">
              <mat-form-field>
                <mat-select #dateDepth>
                  <mat-option value='year'>Year</mat-option>
                  <mat-option value='month'>Month</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field *ngIf="dateDepth.value === 'year'">
                <input matInput [matDatepicker]="yearDatepicker" [min]="minDate" [max]="maxDate"
                       (dateInput)="dateValueChanged(no, 'year', $event); createFormQuery()">
                <mat-datepicker-toggle matSuffix [for]="yearDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #yearDatepicker (yearSelected)="yearSelected(yearDatepicker, $event)"
                                startView="multi-year" [startAt]="startDateForCalendars"></mat-datepicker>
              </mat-form-field>
              <mat-form-field *ngIf="dateDepth.value === 'month'">
                <input matInput [matDatepicker]="monthDatepicker" [min]="minDate" [max]="maxDate"
                       (dateInput)="dateValueChanged(no, 'month', $event); createFormQuery()">
                <mat-datepicker-toggle matSuffix [for]="monthDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #monthDatepicker (monthSelected)="monthSelected(monthDatepicker, $event)"
                                startView="multi-year" [startAt]="startDateForCalendars"></mat-datepicker>
              </mat-form-field>
            </div>

            <mat-form-field *ngSwitchCase="'ListValue'">
              <mat-select #listfield [value]="valuesChosen[no]"
                          (selectionChange)="valuesChosen[no] = listfield.value; createFormQuery()">
                <mat-option *ngFor="let node of lists[propertiesChosen[no].listiri]"
                            [value]="node">{{node.label}}</mat-option>
              </mat-select>
            </mat-form-field>

            <ng-container *ngSwitchDefault>
              <ng-container
                *ngTemplateOutlet="resourcePropEquals; context: {type: propertiesChosen[no].type, id: no, level: 1}">
              </ng-container>
            </ng-container>

          </div>
        </div>

        <button mat-button mat-icon-button (click)="removeProperty(no); createFormQuery()">
          <mat-icon>close</mat-icon>
        </button>

      </div>

      <div>
        <button mat-button (click)="addProperty()">
          <mat-icon>add</mat-icon>Add Property
        </button>
      </div>

      <div class="textarea-container">
        <mat-form-field appearance="outline">
          <textarea readonly cdkTextareaAutosize cdkAutosizeMinRows="8" cdkAutosizeMaxRows="10" matInput
                    value="{{formQueryString}}"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <textarea #gravField cdkTextareaAutosize
                    cdkAutosizeMinRows="8" cdkAutosizeMaxRows="10" matInput
                    value="{{gravQueryFieldText}}"></textarea>
        </mat-form-field>

      </div>

      <div class="search-buttons">
        <button mat-raised-button color="primary" (click)="createGravfieldQuery(gravField.value)">Search</button>
        <button mat-button (click)="gravField.value = ''; deleteAllProps(); createFormQuery()">Clear</button>
      </div>

    </mat-card-content>
  </mat-card>

  <div class="result" *ngIf="searchResults && searchResults.length > 0">

<!--    <div *ngIf="countRes !== undefined">-->
<!--      <p>Count returned: {{countRes}}</p>-->
<!--    </div>-->

    <table>
      <tr>
        <th>#</th>
        <th *ngFor="let values of searchResults[0].results; let i = index;">Property {{i + 1}}</th>
      </tr>
      <tr *ngFor="let searchResult of searchResults; let i = index;" (click)="resultClicked(searchResult.targetIri)">
        <td>{{i + 1}}</td>
        <td *ngFor="let values of searchResult.results">
          <div *ngFor="let value of values">
            {{value}}
          </div>
        </td>
      </tr>
    </table>

    <div class="nav-buttons">
      <mat-paginator *ngIf="countRes > 25" [length]="countRes"
                     [pageIndex]="resultPage"
                     [pageSize]="25"
                     [pageSizeOptions]="[25]"
                     (page)="pageChanged($event)" showFirstLastButtons>
      </mat-paginator>
    </div>

  </div>
</div>

<ng-template #resourcePropEquals let-type="type" let-id="id" let-level="level">
  <mat-form-field>
    <mat-select #propfield (selectionChange)="changePropOfLinkedRes(id, level, propfield.value); createFormQuery()">
      <mat-option *ngFor="let property of getPropsOfResclass(type)" [value]="property">{{property.prop}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select #operatorfield (selectionChange)="changeValueOfLinkedRes(id, level, ''); createFormQuery()">
      <mat-option value="exists">Exists</mat-option>
      <mat-option value="equals">Equals</mat-option>
    </mat-select>
  </mat-form-field>

  <div style="display: inline-block" *ngIf="operatorfield.value === 'equals'">
    <div style="display: inline-block" [ngSwitch]="propfield.value.type">

      <mat-form-field *ngSwitchCase="'TextValue'">
        <textarea #textfield matInput
                  (keyup)="changeValueOfLinkedRes(id, level, textfield.value); createFormQuery()"></textarea>
      </mat-form-field>

      <mat-form-field *ngSwitchCase="'BooleanValue'">
        <mat-select #boolField
                    (selectionChange)="changeValueOfLinkedRes(id, level, boolField.value); createFormQuery()">
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngSwitchCase="'DateValue'">
        <mat-form-field>
          <mat-select #dateDepth>
            <mat-option value='year'>Year</mat-option>
            <mat-option value='month'>Month</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="dateDepth.value === 'year'">
          <input matInput [matDatepicker]="yearDatepicker" [min]="minDate" [max]="maxDate"
                 (dateInput)="dateValueChangeOnLinkedRes(id, level, 'year', $event); createFormQuery()">
          <mat-datepicker-toggle matSuffix [for]="yearDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #yearDatepicker (yearSelected)="yearSelected(yearDatepicker, $event)" startView="multi-year"
                          [startAt]="startDateForCalendars"></mat-datepicker>
        </mat-form-field>

        <mat-form-field *ngIf="dateDepth.value === 'month'">
          <input matInput [matDatepicker]="monthDatepicker" [min]="minDate" [max]="maxDate"
                 (dateInput)="dateValueChangeOnLinkedRes(id, level, 'month', $event); createFormQuery()">
          <mat-datepicker-toggle matSuffix [for]="monthDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #monthDatepicker (monthSelected)="monthSelected(monthDatepicker, $event)"
                          startView="multi-year" [startAt]="startDateForCalendars"></mat-datepicker>
        </mat-form-field>

      </div>

      <mat-form-field *ngSwitchCase="'ListValue'">
        <mat-select #listfield
                    (selectionChange)="changeValueOfLinkedRes(id, level, listfield.value); createFormQuery()">
          <mat-option *ngFor="let node of lists[propfield.value.listiri]" [value]="node">{{node.label}}</mat-option>
          <!-- not so dangerous ducktyping -->
        </mat-select>
      </mat-form-field>

      <ng-container *ngSwitchDefault>
        <ng-container
          *ngTemplateOutlet="resourcePropEquals; context: {type: propfield.value.type, id: id, level: level + 1}"></ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>
