<div class="form-container">
  <mat-form-field>
    <mat-select [(ngModel)]="selectedResourceType" placeholder="Resource type">
      <mat-option value="physCop">Physical Copy</mat-option>
      <mat-option value="coverLetter">Cover Letter</mat-option>
      <mat-option value="person">Person</mat-option>
      <mat-option value="photo">Photograph</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngFor="let no of arr">
    <mat-form-field >
      <mat-select #propfield [value] =  "propertiesChosen[no]" placeholder="Property {{no}}" (selectionChange) = "propertiesChosen[no] = propfield.value">
        <mat-option *ngFor="let property of getProps()" [value]="property.prop">{{property.prop}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <textarea #valuefield matInput [value]="valuesChosen[no]"  placeholder="Value {{no}}" (keyup)="valuesChosen[no] = valuefield.value"></textarea>
    </mat-form-field>
    <a mat-button (click)="removeProperty(no)"> X </a>
  </div>
  <a mat-button (click)="addProperty()">Add Property</a>
</div>
