<h1>Portraits of Unbelonging</h1>
<input #searchTerm
       class="form-control"
/>
<button (click)="searchEvent($event)">Search</button>
<table>
  <tr *ngFor="let sr of searchres">
    <td>{{sr.label}}</td>
  </tr>
</table>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Label</td>
    <td>{{resdata.label}}</td>
  </tr>
  <tr>
    <td>ID</td>
    <td>{{resdata.id}}</td>
  </tr>
  <tr>
    <td>Type</td>
    <td>{{resdata.type}}</td>
  </tr>
  <tr>
    <td>ARK-URL</td>
    <td>{{resdata.arkUrl}}</td>
  </tr>
  <tr>
    <td>Version-ARK-URL</td>
    <td>{{resdata.versionArkUrl}}</td>
  </tr>
  <tr>
    <td>Creation date</td>
    <td>{{resdata.creationDate}}</td>
  </tr>
  </tbody>
</table>
<h2>Properties</h2>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let items of properties">
    <td>{{items[0]}}</td>
    <td>{{items[1]}}</td>
  </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
