<mat-toolbar>
  <button mat-button routerLink="home">
    <img src="../assets/PoU.png" style="max-height: 64px;" matTooltip="Portraits of Unbelonging">
  </button>
  <a mat-button *ngIf="knoraService.loggedin" (click)="logout()">{{ knoraService.useremail }}</a>
  <span class="fill-remaining-space"></span>
  <a mat-button routerLink="search">Search</a>
  <a mat-button routerLink="home">Photo Wall</a>
  <button mat-icon-button matTooltip="Benutzer an- und abmelden" (click)="account()"><mat-icon >account_box</mat-icon></button>
</mat-toolbar>
<router-outlet>

</router-outlet>
