<ul>
  <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: props }"></ng-container>
</ul>

<ng-template #recursiveListTmpl let-list="list">
  <li *ngFor="let item of list">
    <p *ngIf="item.name !== 'dummy'">
    {{ item.name }}
    </p>
    <p *ngIf="item.name === 'dummy'"><br></p>
    <ul *ngIf="item.links.length > 0">
      <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: item.links }"></ng-container>
    </ul>
    <ul *ngIf="item.values.length>0 && item.name === 'has image file'">
      <img *ngFor="let val of item.values" [src]="sanitizer.bypassSecurityTrustUrl(getImageLink(val))">
    </ul>
    <ul *ngIf="item.values.length > 0 && item.name !== 'has image file'">
      <p *ngFor="let val of item.values">
        {{val}}
      </p>
    </ul>
  </li>
</ng-template>
